<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1707620494.863945</real>
	<key>UUID</key>
	<string>AD864352-C40C-4ECD-8A06-774FF2DA23BA</string>
</dict>
</plist>
