<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1700223068.8011351</real>
	<key>UUID</key>
	<string>4EF9EAA5-5FDE-4C24-BE91-DFB11C0C4142</string>
</dict>
</plist>
