<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Degree centrality
Clustering coefficient
Clustering
10365 audit evidences
{\it RI }= 0.963
Total number of audit
evidence = 10365
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
