<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1703994422.232049</real>
	<key>UUID</key>
	<string>7BF47639-335C-4B82-87C8-752FB2A8FEFA</string>
</dict>
</plist>
