<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1707366849.1898289</real>
	<key>UUID</key>
	<string>FE6BDA47-3A0E-4049-B56E-2EDD3C36CBCE</string>
</dict>
</plist>
