<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1702178020.639931</real>
	<key>UUID</key>
	<string>3FC1BEAE-3FE0-4576-90C3-3061AE471CE1</string>
</dict>
</plist>
